<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 header__intro">
        <div class="header__intro__cont">
          <h1 class="header__intro__name text-capitalize font-weight-bold">
            A great platform to manage your users
          </h1>
          <button
            type="button"
            class="btn btn-primary header__intro__button mt-4"
            routerLink="/login"
          >
            Login to see your posts
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
