$color-primary: #feb633;
$light-background: #fbfbfb;
$heading-color: #32333c;
$paragraph-color: #8a8fa3;
$light-background: #fbfbfb;
$dark-secondary-heading-color: #cccccc;
$dark-primary-background-color: #fbfbfb;
$dark-secondary-background-color: #303131;