@import "../assets/Scss/variables";
@import "../assets/Scss/mixins";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.navbar {
  background-color: white;


  &-brand {
    font-size: 1.5rem;
  }

  &-nav {
    flex-direction: row;

    .nav-link {
      margin: 0 0.6rem;
    }
  }

  .collapsed {
    opacity: 1;
    z-index: 1000;
  }

  &-collapse {
    justify-content: flex-end;
  }

  &-toggler {
    border-color: transparent;
    border-radius: none;
  }
}

.cursor-pointer {
    cursor: pointer;
}
